.workout-card {
  // border: 1px gray solid;
  border-radius: 10px;
  background-color: rgb(221, 223, 223);
  margin-bottom: 1rem;
  padding: 5px;
  width: 15rem;
}

.card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.workout-card-recent div {
  margin: 0 auto;
  margin-bottom: 1rem;
}

