// @import './base/settings';
// @import './base/base';
// @import './components/box-layout';
// @import './components/button';
// @import './components/header';
// @import './components/content-container';
// @import './components/page-header';
// @import './components/input-group';
// @import './components/inputs';
// @import './components/form';
// @import './components/visibility';
// @import './components/list';
@import './components/loader';
// @import './components/new-workout-form';
// @import './components/workout-card';
// @import './components/dashboard';
// @import './components/workout-day';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
}

.zero-margin {
  // margin: 0 auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  text-align: center;
  // display: flex;
  // display: row;
  // justify-content: center;
  // align-items: center;
}
.center-items {
  align-items: center;

}

.noBottomMargin {
  margin-bottom: 0;
}

.max-summary {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 2rem 0 2rem 0;
}

@media (min-width: 900px){
  .max-summary {
    flex-direction: row;
    align-items: center;
  }
}

.workout-day-container {
  margin: 0 auto 0 auto;
}

// .chinups {
//   background: url('../../public/images/chin-ups.png');
//   height: 50px;
//   width: auto;
//   background-size: cover;
// }

.invisible-mobile {
  display: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.form-group {
  display: flex;
  flex-direction: row;
}
.form-group > div {
  padding: .5rem .5rem 1rem .5rem;
}

@media (min-width: 768px){
  .form-group > div {
    padding: .5rem .5rem 0 .5rem;
  }
}

.login-page-container {
   background: url('/images/action-athlete-barbell-1400-933.jpg');
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.login-page__box {
// margin-top: 10rem;
margin-bottom: 5rem;
}
